.col {
    font-color:#303030;
    float: left;
    font-size:16px;
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 10px;
    line-height: 2 ;
    display: block;
    //text-align: center;
    font-family: 'Source Sans Pro';
    
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background: #f5f5f5;
}

*div.image {
    content:url(https://repositorytest.ancient-astronomy.org/PROM/ServicePROM/Images/PROM.jpg);

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
    text-align: center;
}
