body {
   height: 15000px;
   overflow: auto;
}

.Content {
  top: 5%;
  float: left;
  //position: absolute;
  background: #c8d3ce;
 
  //border-style: solid;
  
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: scroll;
}

.ContentSame {
  margin-bottom: 2%;
  float: left;
  //position: absolute;
  background: #c8d3ce;
  width: 95%;
  height: 110px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: false;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 3px 40px;
}

#toc{
 margin: 9px 10px 20px 10px;
 background:gray;
 color:#fff;
 padding: 15px 16px 5px 20px;
 min-height: 15%;
 width: 15%;
 position: fixed;
 font-size:20px; 
 font-family: Arial, Helvetica, sans-serif;
 top: 2%;
 left: 80%;
}
#toc {
  z-index: 10;
  list-style-type:none;
}


#toc ul {
	margin: 0;
	padding:0;
	font-size:16px;
list-style-type:none;
}
#toc ul li {
	margin-bottom:10px;
list-style-type:none;
}
#toc ul li a {
	color:#fff;
	text-decoration:none;
}
#toc ul li a:hover {
	color:#484740;
}

.h2style {
     color:#2874b2;
     font-size:17px; 
     font-family: Arial, Helvetica, sans-serif;
}

.h3style {
     color:black;
     //text-shadow: 0.3px 0.3px darkgray;
     font-size:15px; 
     font-weight: lighter;
     font-family: Arial, Helvetica, sans-serif;
}

.pstyle {
   color:black;
   font-size:13px; 
   font-family: Arial, Helvetica, sans-serif;
}

.tocstyle {
    color:#fff; 
    font-size:20px; 
    text-decoration: none;
}

@font-face { 
    font-family: "aegypt";
    src: url("UMSCH_IB.TTF"); 
}



.aegypt {
   color:red;
   font-size:13px; 
   font-family: aegypt;
}
