body {
   height: 15000px;
   overflow: auto;
}

.Content {
  top: 5%;
  float: left;
  position: relative;
  //background: #D3D3D3;
  background: #ffffff;
  //border-style: solid;
  //left:2%;
  width: 95%;
  height: 200%;
  padding: 10px;
}

.ContentSame {
  margin-bottom: 2%;
  float: left;
  //position: absolute;
  background: #ffffff;
  width: 95%;
  height: 110px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: false;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 3px 40px;
}

#toc{
 margin: 9px 10px 20px 10px;
 background:gray;
 color:#fff;
 padding: 15px 16px 5px 20px;
 min-height: 15%;
 width: 15%;
 position: fixed;
 font-size:20px; 
 font-family: Arial, Helvetica, sans-serif;
 top: 2%;
 left: 80%;
}
#toc {
  z-index: 10;
  list-style-type:none;
}


#toc ul {
	margin: 0;
	padding:0;
	font-size:16px;
list-style-type:none;
}
#toc ul li {
	margin-bottom:10px;
list-style-type:none;
}
#toc ul li a {
	color:#fff;
	text-decoration:none;
}
#toc ul li a:hover {
	color:#484740;
}

.h2style {
     padding-left: 20px;
     color:#2874b2;
     font-size:17px; 
     font-family: Arial, Helvetica, sans-serif;
}

.h3style {
     padding-left: 25px;
     color:black;
     //text-shadow: 0.3px 0.3px darkgray;
     font-size:15px; 
     font-weight: lighter;
     font-family: Arial, Helvetica, sans-serif;
}

.pstyle {
   padding-left: 20px;
   color:black;
   font-size:13px; 
   font-family: Arial, Helvetica, sans-serif;
}

.tdstyle {
font-size:12px; 
font-family: Arial, Helvetica, sans-serif;
padding-left: 60px;
}

.tocstyle {
    color:#fff; 
    width: 95%;
    font-size:20px; 
    text-decoration: none;
    overflow-x: visible;
}

input.MyButton {
width: 80px;
height: 25px;
padding: 10px;
margin-bottom:10px;
cursor: pointer;
font-weight: bold;
font-size: 80%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
}
input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}
#container1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container2{
    left: 10px;
    width: 110%;
    height: 100%;
    overflow: auto;
    padding-right: 15px;
}

@font-face { 
    font-family: "aegypt";
    src: url("fonts/UMSCH_S.TTF"); 
}

.aegypt {
   color:black;
   font-size:15px; 
   font-family: aegypt;
}

